/*! CodeScribe.net v2.0 | by Tod McChesney - CodeScribe.net */
.doc {
  line-height: 0.8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }
  *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }

.page {
  background-color: #f1f1f1;
  color: #7e7e7e;
  font-family: "Titillium Web", sans-serif; }

.page__inner {
  margin: 0 auto;
  max-width: 940px; }

.page__inner--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.page__inner--padded {
  padding: 10px; }

.page__header {
  position: relative;
  z-index: 1;
  border-top: solid 4px #607d8b;
  width: 100%; }

.page__content {
  background-color: #fff;
  width: 100%; }

.page__footer {
  width: 100%; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 10;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: auto; }

.modal__content {
  margin: 4px auto 0;
  border: 1px solid #607d8b;
  background-color: #fff;
  padding: 20px;
  max-width: 500px; }
  @media screen and (min-height: 800px) {
    .modal__content {
      margin: 200px auto 0; } }
  .modal__content iframe {
    max-height: 404px; }

.modal__close-button {
  float: right;
  text-decoration: none;
  color: #607d8b;
  font-size: 28px;
  font-weight: bold; }
  .modal__close-button:hover, .modal__close-button:focus {
    text-decoration: none;
    color: #7e7e7e; }

.modal__heading {
  margin-top: 3px;
  padding-bottom: 20px;
  color: #607d8b; }

.logo {
  margin: 10px auto 10px 10px;
  width: 36px;
  height: 36px; }

.logo--dark-theme {
  fill: #607d8b; }

.icon {
  margin: 10px;
  width: 36px;
  height: 36px; }

.icon--dark-theme {
  fill: #607d8b; }

.banner {
  width: 100%; }
  @media screen and (min-width: 948px) {
    .banner {
      margin-top: 10px; } }

.profile-image {
  position: relative;
  top: -67px;
  left: 50%;
  margin-left: -67px;
  border: 3px solid #f1f1f1;
  border-radius: 50%; }

.profile-data {
  margin-top: -60px;
  text-align: center; }

.profile-data__heading {
  margin: 0 auto;
  padding-bottom: 1.18px;
  max-width: 500px;
  color: #607d8b; }

.profile-data__description {
  margin: 0 auto;
  padding: 4px 10px;
  max-width: 500px;
  line-height: 1.2; }

.page-not-found {
  text-align: center; }

.page-not-found__heading {
  margin: 0 auto;
  padding-bottom: 1.18px;
  max-width: 500px;
  color: #607d8b; }

.page-not-found__description {
  margin: 0 auto;
  padding: 4px 10px;
  max-width: 500px;
  line-height: 1.2; }

.page-not-found__link {
  color: #607d8b; }
  .page-not-found__link:hover {
    text-decoration: none;
    font-weight: bold; }

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center; }
  @media screen and (min-width: 948px) {
    .portfolio {
      margin-top: 10px; } }

.portfolio__heading {
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;
  color: #607d8b; }

.project {
  margin-bottom: -20px;
  padding: 0 10px; }
  @media screen and (min-width: 641px) {
    .project {
      width: 50%; } }

.project__image {
  border: 1px solid #607d8b;
  width: 100%; }

.project__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -60px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.project__button {
  margin: 0 10px; }

.lets-talk {
  background-color: #607d8b;
  padding: 20px 20px 40px;
  text-align: center; }

.lets-talk__heading {
  margin: 20px 0;
  line-height: 1.2;
  color: #fff; }

.lets-talk__button {
  margin: 0 auto; }

.copyright {
  margin: 0;
  padding: 20px;
  text-align: center;
  line-height: 1.2;
  color: #607d8b; }

.button {
  display: block;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  line-height: 1; }

.button--fixed-size {
  width: 116px;
  height: 40px; }

.button--dark-theme {
  border: 1px solid #607d8b;
  background-color: #607d8b;
  color: #fff; }
  .button--dark-theme:hover {
    border-color: #f1f1f1; }

.button--light-theme {
  border: 1px solid #f1f1f1;
  background-color: #fff;
  color: #607d8b; }
  .button--light-theme:hover {
    border-color: #607d8b; }

.shadow {
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2); }

.shadow__bottom {
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2); }

.shadow__top {
  -webkit-box-shadow: 0 -2px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 1px -1px rgba(0, 0, 0, 0.2); }

.clearfix::after {
  display: table;
  clear: both;
  content: ""; }



/*# sourceMappingURL=maps/styles.css.map */
