.content {
    width: 100%;
}

.content__inner {
    max-width: 940px;
    padding: 10px;
    margin: 0 auto;
}

.banner {
    width: 100%;

    @media screen and (min-width: 948px) {
        margin-top: 10px;
    }
}

.profile-image {
    position: relative;
    top: -67px;
    left: 50%;
    border: 3px solid $light-gray;
    border-radius: 50%;
    margin-left: -67px;
}

.profile-data {
    margin-top: -40px;
    text-align: center;
}

.profile-data__heading {
    max-width: 500px;
    padding-bottom: 1.18px;
    margin: 0 auto;
    color: $blue-gray;
}

.profile-data__name {
    margin-top: 0;
}

.profile-data__description {
    max-width: 500px;
    padding: 4px 10px;
    margin: 0 auto;
    line-height: 1.2;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    @media screen and (min-width: 948px) {
        margin-top: 10px;
    }
}

.portfolio__heading {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: $blue-gray;
}

.project {
    padding: 0 10px;
    margin-bottom: -20px;

    @media screen and (min-width: 641px) {
        width: 50%;
    }
}

.project__image {
    width: 100%;
    border: 1px solid $med-gray;
}

.project__buttons {
    position: relative;
    top: -60px;
    display: flex;
    justify-content: center;
}

.button {
    display: block;
    width: 116px;
    height: 40px;
    padding: 10px;
    border: 1px solid $light-gray;
    border-radius: 5px;
    margin: 0 10px;
    background-color: $light-gray;

    &:hover {
        border-color: $med-gray;
    }
}

.button__text {
    color: $blue-gray;
    line-height: 1;
    text-decoration: none;
}
