.content {
    width: 100%;
}

.content__container {
    display: flex;
    max-width: 940px;
    padding: 10px;
    margin: 0 auto;
}

.content-banner {
    width: 100%;
    box-shadow: 0 0 1px 1px $shadow;

    @media screen and (min-width: 948px) {
        margin: 10px 0;
    }
}
