.doc {
    box-sizing: border-box;
    line-height: 0.8;
}

* {
    box-sizing: inherit;

    ::before,
    ::after {
        box-sizing: inherit;
    }
}

.page {
    color: $dark-gray;
    font-family: "Titillium Web", sans-serif;
}
