.doc {
    box-sizing: border-box;
    line-height: 0.8;
}

* {
    box-sizing: inherit;

    ::before,
    ::after {
        box-sizing: inherit;
    }
}

.page {
    color: $med-gray;
    font-family: "Titillium Web", sans-serif;
}

.shadow {
    box-shadow: 0 0 1px 1px $shadow;
}

.shadow__bottom {
    box-shadow: 0 2px 1px -1px $shadow;
}

.shadow__top {
    box-shadow: 0 -2px 1px -1px $shadow;
}
