.header {
    width: 100%;
    border-top: solid 4px $blue-gray;
    background-color: $light-gray;
}

.header__inner {
    display: flex;
    max-width: 940px;
    margin: 0 auto;
}

.logo {
    width: 36px;
    height: 36px;
    margin: 10px auto 10px 10px;
}

.logo--color-blue-gray {
    fill: $blue-gray;
}

.icon {
    width: 36px;
    height: 36px;
    margin: 10px;
}

.icon--color-blue-gray {
    fill: $blue-gray;
}
