.header {
    position: relative;
    z-index: 1;
    width: 100%;
    border-top: solid 4px $dark-border-color;
}

.header__inner {
    display: flex;
    max-width: 940px;
    margin: 0 auto;
}

.logo {
    width: 36px;
    height: 36px;
    margin: 10px auto 10px 10px;
}

.logo--dark-theme {
    fill: $brand-color;
}

.icon {
    width: 36px;
    height: 36px;
    margin: 10px;
}

.icon--dark-theme {
    fill: $brand-color;
}
