.header {
    width: 100%;
    border-top: solid 4px $blue-gray;
    background-color: $light-gray;
    box-shadow: 0 0 1px 1px $shadow;
}

.header__container {
    display: flex;
    max-width: 940px;
    margin: 0 auto;
}

.header__logo {
    width: 36px;
    height: 36px;
    margin: 10px auto 10px 10px;
}

.header__logo--color-blue-gray {
    fill: $blue-gray;
}

.header__icon {
    width: 36px;
    height: 36px;
    margin: 10px;
}

.header__icon--color-blue-gray {
    fill: $blue-gray;
}
