.lets-talk {
    padding: 20px 20px 40px;
    background-color: $dark-background-color;
    text-align: center;
}

.lets-talk__heading {
    margin: 20px 0;
    color: $light-text-color;
    line-height: 1.2;
}

.lets-talk__button {
    margin: 0 auto;
}
