.lets-talk {
    background-color: $dark-background-color;
    padding: 20px 20px 40px;
    text-align: center;
}

.lets-talk__heading {
    margin: 20px 0;
    line-height: 1.2;
    color: $light-text-color;
}

.lets-talk__button {
    margin: 0 auto;
}
