.page {
    background-color: $medium-background-color;
    color: $default-text-color;
    font-family: "Titillium Web", sans-serif;
}

.page__inner {
    max-width: 940px;
    margin: 0 auto;
}

.page__inner--flex {
    display: flex;
}

.page__inner--padded {
    padding: 10px;
}

.page__header {
    position: relative;
    z-index: 1;
    width: 100%;
    border-top: solid 4px $dark-border-color;
}

.page__content {
    width: 100%;
    background-color: $light-background-color;
}

.page__footer {
    width: 100%;
}
