.page-not-found {
    text-align: center;
}

.page-not-found__heading {
    margin: 0 auto;
    padding-bottom: 1.18px;
    max-width: 500px;
    color: $dark-text-color;
}

.page-not-found__description {
    margin: 0 auto;
    padding: 4px 10px 68px;
    max-width: 500px;
    line-height: 1.2;
}

.page-not-found__link {
    color: $dark-text-color;

    &:hover {
        text-decoration: none;
        font-weight: bold;
    }
}
