.portfolio {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    @media screen and (min-width: 948px) {
        margin-top: 10px;
    }
}

.portfolio__heading {
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
    color: $dark-text-color;
}
