.project {
    margin-bottom: -20px;
    padding: 0 10px;

    @media screen and (min-width: 641px) {
        width: 50%;
    }
}

.project__image {
    border: 1px solid $dark-border-color;
    width: 100%;
}

.project__links {
    display: flex;
    position: relative;
    top: -60px;
    flex-wrap: wrap;
    justify-content: center;
}

.project__button {
    margin: 0 10px;
}
