.profile-data {
    margin-top: -60px;
    text-align: center;
}

.profile-data__heading {
    margin: 0 auto;
    padding-bottom: 1.18px;
    max-width: 500px;
    color: $dark-text-color;
}

.profile-data__description {
    margin: 0 auto;
    padding: 4px 10px;
    max-width: 500px;
    line-height: 1.2;
}
