// ==========================================================================
// Base colors (not to be used directly in styles)
// ==========================================================================

$white: #fff;
$light-gray: #f1f1f1;
$medium-gray: #7e7e7e;
$black: #000;
$transparent-black-20: rgba(0, 0, 0, 0.2);
$transparent-black-50: rgba(0, 0, 0, 0.5);

// Primary brand color
$blue-gray: #607d8b;


// ==========================================================================
// Color variables for use in styles
// ==========================================================================

$brand-color: $blue-gray;

// Text
$default-text-color: $medium-gray;
$light-text-color: $white;
$dark-text-color: $brand-color;

// Backgrounds
$light-background-color: $white;
$medium-background-color: $light-gray;
$dark-background-color: $brand-color;
$shadow: $transparent-black-20;
$modal-background-solid: $black;
$modal-background-transparent: $transparent-black-50;

// Borders
$light-border-color: $light-gray;
$dark-border-color: $brand-color;
