// ==========================================================================
// Colors
// ==========================================================================

// Light Gray for header/footer background and button background
$light-gray: #f1f1f1;

// Medium Gray for image border, button hover border, and text
$med-gray: #7e7e7e;

// Opaque black for shadows
$shadow: rgba(0, 0, 0, 0.2);

// Blue/Gray accent color for header top border, logo, icons, headings and
// button text
$blue-gray: #607d8b;
